.nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.nav a {
    float: left;
    color: #f2f2f2;
    padding: 20px;
    margin: 2px;
    margin-top: 9px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav a {
    background-color: #4CAF50;
    color: white;
  }

  .nav h1 {
    color: white;
  }

  .example {
      display: flex;
      justify-content: center;
  }

  .options {
    border: 2px solid grey;
    overflow: hidden;
    margin: 10px;
    margin-top: 30px;
    height: 80vh;
    width: 12vw;
  }

  .flowchart {
    border: 2px solid grey;
    overflow: hidden;
    margin: 10px;
    margin-top: 30px;
    height: 80vh;
    width: 80vw;
  }

  .btn {
      width: 100%;
      text-align: center;
      height: 8vh;
  }


