.guide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.3); /*dim the background*/
}

.guide-box {
    /* background-color: white; */
    width: 300px;
    height: 150px;
    border: 3px solid black;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background: linear-gradient(to right, rgb(18, 195, 248) 99.99%, transparent), linear-gradient(to bottom, rgb(18, 195, 248) 99.99%, transparent), linear-gradient(to right,  rgb(18, 195, 248) 99.99%, transparent), linear-gradient(to bottom,  rgb(17, 176, 224) 99.99%, transparent);
    background-size: 100% 6px, 5px 100%, 100% 5px, 5px 100%;
    background-repeat: no-repeat;
    animation: progress 4s linear forwards;
    /* background-position: -230px 0px, 225px -120px, 230px 115px, 0px 120px; */
    background-position: -300px 0px, 295px -150px, 300px 145px, 0px 150px;
    background-color: rgb(255, 255, 255);
}

/* @keyframes progress {
    0% {
      background-position: -230px 0px, 228px -120px, 230px 118px, 0px 120px;
    }
    25% {
      background-position: 0px 0px, 228px -120px, 230px 118px, 0px 120px;
    }
    50% {
      background-position: 0px 0px, 228px 0px, 230px 118px, 0px 120px;
    }
    75% {
      background-position: 0px 0px, 228px 0px, 0px 118px, 0px 120px;
    }
    100% {
      background-position: 0px 0px, 228px 0px, 0px 118px, 0px 0px;
    }
  } */

.guide-box:hover {
    opacity: 1;
}

.guide-previous-btn, .guide-skip-btn, .guide-next-btn {
    position: absolute;
    width: 30%;
    height: 20%;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    bottom: 6px;
    /* right: 2px; */
    color: black;
    margin-right: 5px ;
    background-color:lightgrey;
}

.guide-next-btn {
    right: 0px;
}

.guide-previous-btn {
    left: 5px;
}

.guide-previous-btn:hover {
    /* background-color: lightblue; */
    padding-left: 15px;
}

.guide-next-btn:hover {
    /* background-color: lightblue; */
    padding-right: 25px;
}

/* .guide-progress-bar {

} */

.guide-box-description {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.guidejs-highlight {
    position: relative;
    z-index: 1000000000000;
}